<h1><%= "#{@office.building.name} ##{@office.floor}" %></h1>
<% if @office.company %>
<h3>Current Tenant</h3>
  <p><%= link_to @office.company.name, company_path(@office.company_id) %></p>

<h3>Employees</h3>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <% @office.employees.each do |employee| %>
        <tr>
          <td><%= employee.name %></td>
          <td><%= employee.title %></td>
        </tr>
      <% end %>
    </tbody>
</table>
<% else %>
<h3>VACANT</h3>
<% end %>
<p><%= link_to 'Building Summary', building_path(@office.building_id) %></p>
