<h1>Add Employee</h1>
<%= form_with url: company_employees_path do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.select :office, options_from_collection_for_select(@offices, 'id', 'info') %>
  <%= form.submit 'Save', class: 'form-submit' %>
<% end %>
